@tailwind base;
@tailwind components;
@tailwind utilities;

.allBtn {
  @apply w-[75px] h-[50px] text-[18px] rounded border-[0.3px] border-solid border-[#d2d4d6];
}

.BtnNum {
  @apply bg-[#ffffff];
}

.BtnOps {
  @apply bg-[#f5f5f5];
}

.BtnEq {
  @apply bg-[#0266bf] text-[#ffffff];
}

.BtnDlt {
  @apply bg-[#f5f5f5];
}

.BtnPit {
  @apply bg-[#ffffff];
}

.BtnNum:hover,
.BtnOps:hover,
.BtnDlt:hover,
.BtnPit:hover {
  filter: brightness(0.9);
  transform: scale(0.97);
}

.BtnNum:active,
.BtnOps:active,
.BtnDlt:active,
.BtnPit:active {
  filter: brightness(0.75);
  transform: scale(0.93);
}

.BtnEq:hover {
  filter: brightness(1.1);
  transform: scale(0.97);
}

.BtnEq:active {
  filter: brightness(1.25);
  transform: scale(0.93);
}
